@import "tailwindcss";

@theme {
    --color-*: initial;
    --color-sand: #d1b187;
    --color-clay: #c77b58;
    --color-brick: #ae5d40;
    --color-rust: #79444a;
    --color-coal: #4b3d44;
    --color-honey: #ba9158;
    --color-moss: #927441;
    --color-mud: #4d4539;
    --color-olive: #77743b;
    --color-dune: #b3a555;
    --color-linen: #d2c9a5;
    --color-sage: #8caba1;
    --color-pine: #4b726e;
    --color-plum: #574852;
    --color-taupe: #847875;
    --color-stone: #ab9b8e;
}

@keyframes rotate {
    to {
        transform: rotate(1turn);
    }
}

@layer components {
    .spinner {
        --spinner-color: var(--color-stone);

        width: 1.5rem; /* 24px */
        height: 1.5rem; /* 28px */
        align-self: center;
        aspect-ratio: 1;
        border-radius: 100%;
        background:
          radial-gradient(farthest-side, var( --spinner-color) 94%,#0000) top/0.25rem 0.25rem no-repeat,
          conic-gradient(#0000 30%, var( --spinner-color))
        ;
        mask: radial-gradient(farthest-side,#0000 calc(100% - 0.25rem),#000 0);
        -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 0.25rem),#000 0);

        animation: rotate 600ms infinite linear;
    }
    .spinner-linen {
        --spinner-color: var(--color-linen);
    }

    .button-moss {
        font-family: "Knewave";
        font-size: 1.625rem; /* 26px */
        color: var(--color-linen);
        border: 0.3125rem solid var(--color-linen); /* 6px */
        border-radius: 0.75rem; /* 12px */
        padding: 0.125rem 1.25rem 0.25rem 1.25rem; /* 2px 20px 4px 20px */
        background-color: var(--color-moss);
        text-align: center;
    }
}

@layer utilities {
    .text-stroke-1-taupe {
        -webkit-text-stroke: 0.0625rem var(--color-taupe); /* 1px */
    }
    .disabled\:text-stroke-1-taupe:disabled {
        -webkit-text-stroke: 0.0625rem var(--color-taupe);
    }
}

* {
    box-sizing: border-box;
}

:root {
    --background: #0a0a0a;
    --foreground: #ededed;
}

body {
    background: var(--color-mud);
    height: 100svh;
    color: var(--color-stone);
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

::selection {
    background: var(--color-pine);
    color: var(--color-linen);
    -webkit-text-stroke-color: var(--color-linen);
}
