@import "tailwindcss";

@theme {
    --color-*: initial;
    --color-sand: #d1b187;
    --color-clay: #c77b58;
    --color-brick: #ae5d40;
    --color-rust: #79444a;
    --color-coal: #4b3d44;
    --color-honey: #ba9158;
    --color-moss: #927441;
    --color-mud: #4d4539;
    --color-olive: #77743b;
    --color-dune: #b3a555;
    --color-linen: #d2c9a5;
    --color-sage: #8caba1;
    --color-pine: #4b726e;
    --color-plum: #574852;
    --color-taupe: #847875;
    --color-stone: #ab9b8e;
}

@keyframes rotate {
    to {
        transform: rotate(1turn);
    }
}

@keyframes verticalBounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-6px);
    }
}

@layer components {
    .spinner {
        --spinner-color: var(--color-stone);

        width: 1.5rem; /* 24px */
        height: 1.5rem; /* 28px */
        align-self: center;
        aspect-ratio: 1;
        border-radius: 100%;
        background:
          radial-gradient(farthest-side, var( --spinner-color) 94%,#0000) top/0.25rem 0.25rem no-repeat,
          conic-gradient(#0000 30%, var( --spinner-color))
        ;
        mask: radial-gradient(farthest-side,#0000 calc(100% - 0.25rem),#000 0);
        -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 0.25rem),#000 0);

        animation: rotate 600ms infinite linear;
    }
    .spinner-linen {
        --spinner-color: var(--color-linen);
    }

    .button-moss {
        font-family: "Knewave";
        font-size: 1.625rem; /* 26px */
        color: var(--color-linen);
        border: 0.3125rem solid var(--color-linen); /* 6px */
        border-radius: 0.75rem; /* 12px */
        padding: 0.125rem 1.25rem 0.25rem 1.25rem; /* 2px 20px 4px 20px */
        background-color: var(--color-moss);
        text-align: center;
    }
}

@keyframes focusLeftBounce {
    0%, 100% { transform: translateY(-50%) translateX(0); }
    50% { transform: translateY(-50%) translateX(-0.375rem); } /* 6px */
}

@keyframes focusRightBounce {
    0%, 100% { transform: scaleX(-1) translateY(-50%) translateX(0) ; }
    50% { transform: scaleX(-1) translateY(-50%) translateX(-0.375rem); }  /* 6px */
}

@keyframes focusBottomBounce {
    0%, 100% { transform: rotate(-90deg) translateY(-50%) translateX(0); }
    50% { transform: rotate(-90deg) translateY(-50%) translateX(-0.375rem); }  /* 6px */
}

@keyframes focusTopBounce {
    0%, 100% { transform: rotate(90deg) translateY(50%) translateX(0); }
    50% { transform: rotate(90deg) translateY(50%) translateX(-0.375rem); }  /* 6px */
}

@layer utilities {
    .text-stroke-1-taupe {
        -webkit-text-stroke: 0.0625rem var(--color-taupe); /* 1px */
    }
    .disabled\:text-stroke-1-taupe:disabled {
        -webkit-text-stroke: 0.0625rem var(--color-taupe); /* 1px */
    }

    /* ---------------------------------------------------------- */
    .focus-left:focus-within::after {
        content: "➜";
        font-size: 1.5rem; /* 24px */
        color: var(--focus-color);
        position: absolute;
        height: fit-content;
        top: 50%;
        left: -2.25rem; /* 36px */
        animation: focusLeftBounce 600ms ease-in infinite;
    }
    .focus-right:focus-within::after {
        content: "➜";
        font-size: 1.5rem; /* 24px */
        color: var(--focus-color);
        position: absolute;
        top: calc(50%);
        height: fit-content;
        line-height: 1.5rem; /* 24px */
        right: -2.25rem; /* 36px */
        animation: focusRightBounce 600ms ease-in infinite;
    }
    .focus-bottom:focus-within::after {
        content: "➜";
        font-size: 1.5rem; /* 24px */
        color: var(--focus-color);
        position: absolute;
        height: fit-content;
        bottom: -2.875rem; /* 46px */
        left: calc(50%);
        animation: focusBottomBounce 600ms ease-in infinite;
    }
    .focus-top:focus-within::after {
        content: "➜";
        font-size: 1.5rem; /* 24px */
        color: var(--focus-color);
        position: absolute;
        top: calc(-2.875rem);
        left: calc(50% + 0.25rem); /* 4px */
        animation: focusTopBounce 600ms ease-in infinite;
    }

    .focus-left:focus-within,
    .focus-right:focus-within,
    .focus-bottom:focus-within,
    .focus-top:focus-within {
        position: relative;
        outline: none;
    }

    .focus-top:focus-within::after,
    .focus-bottom:focus-within::after,
    .focus-left:focus-within::after,
    .focus-right:focus-within::after {
        --focus-color: unset;
    }

    .focus-color-taupe:focus-within::after {
        --focus-color: var(--color-taupe);
    }
    /* ---------------------------------------------------------- */
}

* {
    box-sizing: border-box;
}

:root {
    --background: #0a0a0a;
    --foreground: #ededed;
}

body {
    background: var(--color-mud);
    height: 100svh;
    color: var(--color-stone);
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

::selection {
    background: var(--color-pine);
    color: var(--color-linen);
    -webkit-text-stroke-color: var(--color-linen);
}
